In [8]:
import dask.dataframe as dd
df = dd.read_csv("C://Users//jain vinit//Documents//FExam//uber-tlc-foil-response//uber-trip-data//uber-raw-data-apr14.csv")
df.head(100)

           Date/Time      Lat      Lon    Base
0   4/1/2014 0:11:00  40.7690 -73.9549  B02512
1   4/1/2014 0:17:00  40.7267 -74.0345  B02512
2   4/1/2014 0:21:00  40.7316 -73.9873  B02512
3   4/1/2014 0:28:00  40.7588 -73.9776  B02512
4   4/1/2014 0:33:00  40.7594 -73.9722  B02512
..               ...      ...      ...     ...
95  4/1/2014 6:54:00  40.7653 -73.9723  B02512
96  4/1/2014 6:56:00  40.7644 -73.9769  B02512
97  4/1/2014 6:57:00  40.7726 -73.9532  B02512
98  4/1/2014 6:59:00  40.7898 -73.9661  B02512
99  4/1/2014 7:00:00  40.7839 -73.9703  B02512

[100 rows x 4 columns]

In [10]:
import dask.dataframe as dd
from sqlalchemy import create_engine

# Create a Dask DataFrame from CSV
ddf = dd.read_csv('C://Users//jain vinit//Documents//FExam//uber-tlc-foil-response//uber-trip-data//uber-raw-data-apr14.csv')

# Define your MySQL connection string
# Format: 'mysql://username:password@hostname:port/database_name'
mysql_conn_str = 'mysql+mysqlconnector://root:Vinit2003@localhost:3306/vinit'

# Create a SQLAlchemy engine
engine = create_engine(mysql_conn_str)

# Specify the MySQL table name
table_name = 'up'

# Use the `to_sql` method to write Dask DataFrame to MySQL
ddf.to_sql(name=table_name, con=engine, if_exists='replace', index=False, method='multi')

TypeError: to_sql() got an unexpected keyword argument 'con'

In [1]:

import dask.dataframe as dd
from sqlalchemy import create_engine

# Create a Dask DataFrame from CSV
ddf = dd.read_csv('C://Users//jain vinit//Documents//FExam//uber-tlc-foil-response//uber-trip-data//uber-raw-data-apr14.csv')

# Convert Dask DataFrame to Pandas DataFrame
pdf = ddf.compute()

# Define your MySQL connection string
# Format: 'mysql://username:password@hostname:port/database_name'
mysql_conn_str = 'mysql+mysqlconnector://root:Vinit2003@localhost:3306/vinit'

# Create a SQLAlchemy engine
engine = create_engine(mysql_conn_str)

# Specify the MySQL table name
table_name = 'up'

# Use the `to_sql` method to write Pandas DataFrame to MySQL
pdf.to_sql(name=table_name, con=engine, if_exists='replace', index=False, method='multi')

KeyboardInterrupt:

In [ ]:
import dask.dataframe as dd
from sqlalchemy import create_engine
import os

# Define your MySQL connection string
mysql_conn_str = 'mysql+mysqlconnector://root:Vinit2003@localhost:3306/vinit'

# Create a SQLAlchemy engine
engine = create_engine(mysql_conn_str)

# Specify the MySQL table name
table_name = 'up'

# Path to the directory containing CSV files
csv_directory = 'C://path/to/your/csv/files/'

# Get a list of CSV files in the directory
csv_files = [file for file in os.listdir(csv_directory) if file.endswith('.csv')]

# Loop through each CSV file
for csv_file in csv_files:
    # Create a Dask DataFrame from CSV
    ddf = dd.read_csv(os.path.join(csv_directory, csv_file))

    # Convert Dask DataFrame to Pandas DataFrame
    pdf = ddf.compute()

    # Use the `to_sql` method to write Pandas DataFrame to MySQL
    pdf.to_sql(name=table_name, con=engine, if_exists='append', index=False, method='multi')

print("Data uploaded successfully.")

In [ ]:
import dask.dataframe as dd
from sqlalchemy import create_engine

# Define your MySQL connection string
mysql_conn_str = 'mysql+mysqlconnector://root:Vinit2003@localhost:3306/vinit'

# Create a SQLAlchemy engine
engine = create_engine(mysql_conn_str)

# Specify the MySQL table name
table_name = 'up'

# List of specific CSV file paths
csv_file_paths = [
    'C://path/to/your/csv/file1.csv',
    'C://path/to/your/csv/file2.csv',
    # Add more file paths as needed
]

# Loop through each specified CSV file
for csv_file_path in csv_file_paths:
    # Create a Dask DataFrame from CSV
    ddf = dd.read_csv(csv_file_path)

    # Convert Dask DataFrame to Pandas DataFrame
    pdf = ddf.compute()

    # Use the `to_sql` method to write Pandas DataFrame to MySQL
    pdf.to_sql(name=table_name, con=engine, if_exists='append', index=False, method='multi')

print("Data uploaded successfully.")